Register activities for group <%= @group.name %> <br/>
Day XXX<br/>


<%= form_for @group_record, :url => { :action => "save_registration" } do |f| %>
    <% if @group_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@group_record.errors.count, "error") %> prohibited this group_record from being saved:</h2>

          <ul>
            <% @group_record.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Attitude</th>
    <th>Preparation</th>
    <th>Note</th>
  </tr>

  <%= f.hidden_field :group, :value => @group.id %>



  <% @group.students.each do |student| %>
 <tr>
   <td><%= student.name %></td>
   <td><%= select_tag("personal_attitude["+student.id.to_s+"]", options_for_select([['1', 1], ['2', 2], ['3', 3], ['4',4], ['5',5]])) %></td>
   <td><%= select_tag("preparation["+student.id.to_s+"]", options_for_select([['1', 1], ['2', 2], ['3', 3], ['4',4], ['5',5]])) %></td>
   <td><%= text_field_tag( "note["+student.id.to_s+"]", "note") %></td>

  <% end %>


</table>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
