<h1>Editing group</h1>

<%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% @group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :instructor_id %><br />
      <%= f.number_field :instructor_id %>
    </div>

    <div class="field">
      <%= f.select :student_ids, Student.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
