<%= link_to('start', :controller => :registration, :action => :start) %> |
<%= link_to('stats', :controller => :groups, :action => :choose_group) %>
<br/><hr>

<h2>Statistics for group: <%= @group.name %> </h2>

<table id="table1">
  <thead>
  <tr class="head">
    <th>ID</th>
    <th>Name</th>
    <th>AVG Preparation</th>
    <th>AVG Attitude</th>
    <th>% Present</th>
    <th>Note</th>
  </tr>
  </thead>
  <% @stats.each do |stud| %>

      <tr>
        <td><%= stud[0] %></td>
        <td><%= stud[1][:name] %></td>
        <td><%= stud[1][:preparation] %></td>
        <td><%= stud[1][:personal_attitude] %></td>
        <td><%= (number_with_precision(stud[1][:present], :precision => 2) || 0) %></td>
        <td><%= link_to "Show Notes", {:controller =>:groups, :action => :student_notes, :group_id=>@group.id, :student_id=>stud[0] }%></td>
      </tr>
  <% end %>
</table>


<%= check_box_tag 'INCLUDE NOTES' %>INCLUDE NOTES
  <div class="actions">
    <%= submit_tag("Print Data") %>
  </div>
