<%= link_to('start', :controller => :registration, :action => :start) %> |
<%= link_to('stats', :controller => :groups, :action => :choose_group) %>
<br/><hr><br/>

Stats for group: <%= @group.name %> <br/>
<table>
  <tr>
    <th>Name</th>
    <th>Preparation</th>
    <th>Attitude</th>
    <th>Note</th>
  </tr>

<% @students.each do |stud| %>
      <tr>
        <td><%= stud.name %></td>
        <td><%= stud.preparation %></td>
        <td><%= stud.personalAttitude %></td>
        <td><%= stud.note %></td>
      </tr>
<% end %>
</table>

